/*import poppins font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  background-color: #1b1b32;
  font-family: "Poppins", sans-serif;
  color: white;
}

.form-container {
  width: 80%;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
}

.form-container h2 {
  text-align: center;
  color: white;
  font-weight: 700;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
}

.account-type {
  display: flex;
  gap: 20px;
  margin: 10px 0;
  align-items: center;
}

.account-type label {
  margin: 0px;
}

.account-type input[type="radio"] {
  margin-right: 8px;
}

.form-container form button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0a0a23;
  background-color: #3b3b4f;
  color: white;
  cursor: pointer;
}
